<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head th:fragment="head">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
            <!-- All CSS is here
            ============================================ -->

            <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
            <link rel="stylesheet" href="/assets/css/vendor/vandella.css">
            <link rel="stylesheet" href="/assets/css/vendor/jellybelly.css">
            <link rel="stylesheet" href="/assets/css/vendor/icofont.min.css">
            <link rel="stylesheet" href="/assets/css/vendor/fontello.css">
            <link rel="stylesheet" href="/assets/css/plugins/easyzoom.css">
            <link rel="stylesheet" href="/assets/css/plugins/slick.css">
            <link rel="stylesheet" href="/assets/css/plugins/nice-select.css">
            <link rel="stylesheet" href="/assets/css/plugins/animate.css">
            <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
            <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css">
            <link rel="stylesheet" href="/assets/css/style.css">
            <th:block layout:fragment="script"></th:block>
            <th:block layout:fragment="css"></th:block>
        </head>
</html>