<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout2}">
<th:block layout:fragment="script">

  <script th:inline="javascript">
    function sendit(){
      if($('input[name=loginId]').val() == ''){
        alert('아이디를 입력해주세요');
        $('input[name=loginId]').focus();
        return false;
      }
      if($('input[name=password]').val() == ''){
        alert('비밀번호를 입력해주세요');
        $('input[name=password]').focus();
        return false;
      }

    }
    $(function(){
      if($('#loginTrue').val() == 'loginTrue'){
        location.href = '/';
      }

    })
  </script>

</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>
<div layout:fragment="content">
  <div class="breadcrumb-area breadcrumb-mt breadcrumb-ptb-2">
    <div class="container">
      <div class="breadcrumb-content text-center">
        <h2><a onClick="location.href='/members/login'">Login</a> / <a onClick="location.href='/members/new'">Register</a></h2>
        <ul>
          <li>
            <a href="index.html">Home </a>
          </li>
          <li><span> > </span></li>
          <li>
            <a href="index.html">Product </a>
          </li>
          <li><span> > </span></li>
          <li class="active"> Login</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="login-register-area bg-gray pt-155 pb-160">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 ml-auto mr-auto">
          <div class="login-register-wrapper">
            <div class="login-register-tab-list nav">
              <a class="active" data-toggle="tab" href="#lg1">
                <h4> login </h4>
              </a>
            </div>
            <div class="tab-content">
              <div id="lg1" class="tab-pane active">
                <div class="login-form-container">
                  <div class="login-register-form">
                    <form role="form" method="post" action="/members/login" onsubmit="return sendit()">
                      <table>
                        <tr>
                          <label th:for="loginId" class="font-weight-bold">이메일주소</label>
                          <input type="text" name="loginId" class="form-control" placeholder="이메일을 입력해주세요">
                        </tr>
                        <tr>
                          <label th:for="password" class="font-weight-bold">비밀번호</label>
                          <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호 입력">
                        </tr>

                        <tr>
                          <div class="button-box align-content-center justify-content-center text-center -align-center">

                            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                            <button type="submit">Login</button>
                            <button type="button" class="btn btn-primary" id =a onClick="location.href='/members/new'">회원가입</button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                          </div>
                        </tr>
                      </table>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</html>