<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<th:block layout:fragment="scriptt">
    <script th:inline="javascript">
        function openUserDetail(id){ //유저 상세정보 페이지 open (컨트롤러 만들어야함)
            location.href='/members/admin/userList/user/' + id;
        }

        function deleteUser(id){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            if(confirm("해당 회원의 주문정보가 함께 삭제될 수 있습니다. 정말로 삭제하시겠습니까?")){
                $.ajax({
                    type: 'DELETE',
                    url: '/members/admin/userList/' + id,
                    beforeSend : function(xhr)
                    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    }
                }).done(function(word){
                    alert(word);
                    location.reload();
                }).fail(function (error){
                    alert(JSON.stringify(error));
                })
            }else{
                return false;
            }

        }

        function deleteCheckedUsers(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            let list = [];
            $('.checkbox-select').each(function(){
                if($(this).is(':checked')){
                    let val1 = $(this).closest('tr').find('input[type=hidden]').val();
                    list.push(val1)
                }
            })
            if(confirm("해당 회원의 주문정보가 함께 삭제될 수 있습니다. 정말로 삭제하시겠습니까?")){
                $.ajax({
                    type: 'DELETE',
                    url: '/members/admin/userList',
                    data: {idList : list},
                    beforeSend : function(xhr)
                    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    traditional: true
                }).done(function(word){
                    alert(word);
                    location.reload();
                }).fail(function (error){
                    alert(JSON.stringify(error));
                })
            }else{
                return false;
            }
        }

        function checkall(){
            $('.checkbox-select').prop('checked', true);
        }

        $(function(){
            $('.checkbox-selectall').click(function(){
                if($(this).is(':checked')){
                    $('.checkbox-select').prop('checked', true);
                }else{
                    $('.checkbox-select').prop('checked', false);
                }
            })
        })
        // 취소, 교환, 반품 ajax
        $('.tablebtn').click(function(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            const id = $(this).closest('tr').find('input[type=hidden]').val()
            let order_status = '';
            let message = '';
            if($(this).hasClass('orderCancelbtn')){
                order_status = 'ORDERCANCEL';
                message = '정말로 해당 상품의 주문을 취소하시겠습니까?';
            }else if($(this).hasClass('orderChangebtn')){
                order_status = 'ORDERCHANGE';
                message = '정말로 해당 상품을 교환 하시겠습니까?';
            }else {
                order_status = 'ORDERREFUND';
                message = '정말로 해당 상품을 반품 하시겠습니까?';
            }

            if(!confirm(message)){
                return false
            }

            $.ajax({
                type: 'PATCH',
                url: '/main/orderStatusChange/' + id,
                data: {status: order_status},
                beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                    xhr.setRequestHeader(header, token);
                }
            }).done(function(word){
                alert(word);
                location.reload();
            }).fail(function(error){
                alert(JSON.stringify(error));
            })
        })
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <section>
            <form class= "search-form" id="search-form" method="get" action="#">
                <div class="form-group">
                    <label class="form-label">주문일자</label>
                    <span>
                    <input type="date" name="firstdate" class="date">&nbsp;~
                    <input type="date" name="lastdate" class="date">
                </span>
                </div>
                <div class="form-group">
                    <label class="form-label">주문상태</label>
                    <span>
                    <select name="omode">
                        <option value="PAYWAITING" th:selected="${#strings.equals( oModeStatus, 'PAYWAITING' )}">입금대기</option>
                        <option value="PRESHIP" th:selected="${#strings.equals( oModeStatus, 'PRESHIP' )}">배송준비중</option>
                        <option value="INSHIP" th:selected="${#strings.equals( oModeStatus, 'INSHIP' )}">배송중</option>
                        <option value="COMPLETESHIP" th:selected="${#strings.equals( oModeStatus, 'COMPLETESHIP' )}">배송완료</option>
                        <option value="ORDERCANCEL" th:selected="${#strings.equals( oModeStatus, 'ORDERCANCEL' )}">주문취소</option>
                        <option value="ORDERCHANGE" th:selected="${#strings.equals( oModeStatus, 'ORDERCHANGE' )}">교환</option>
                        <option value="ORDERREFUND" th:selected="${#strings.equals( oModeStatus, 'ORDERREFUND' )}">반품</option>
                    </select>
                </span>
                </div>
                <div class="form-group">
                    <label class="form-label">검색어</label>
                    <span>
                    <select name="smode">
                        <option value="buyer">구매자명</option>
                    </select>
                    <input type="text" name="sinput" class="search-input">
                </span>
                </div>
                <div class="search-submit-box">
                    <input type="submit" class="search-submit" value="검색">
                </div>
            </form>

            <div class="order-box">
                <table class="order-table">
                    <thead>
                    <tr>
                        <th>구매자</th>
                        <th>주문정보</th>
                        <th>결제금액</th>
                        <th>결제방식</th>
                        <th>주문일자</th>
                        <th>상태</th>
                        <th>변경</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text = "${order.name}">채창완(sejchae)</td>
                        <td th:text = "${order.itemNm}">베이직 카고팬츠</td>
                        <td th:text = "${order.orderPrice}">14000원</td>
                        <td th:text = "${order.payment}">카드결제</td>
                        <td th:text = "${order.orderDate}">2021-05-03</td>
                        <td>
                            <select name="change-omode" id="change-omode" class="omode">
                                <!--                                <option value="whole">전체</option>-->
                                <option value="PAYWAITING" th:selected="${#strings.equals( order.orderStatus, 'PAYWAITING' )}">입금대기</option>
                                <option value="PRESHIP" th:selected="${#strings.equals( order.orderStatus, 'PRESHIP' )}">배송준비중</option>
                                <option value="INSHIP" th:selected="${#strings.equals( order.orderStatus, 'INSHIP' )}">배송중</option>
                                <option value="COMPLETESHIP" th:selected="${#strings.equals( order.orderStatus, 'COMPLETESHIP' )}">배송완료</option>
                                <option value="ORDERCANCEL" th:selected="${#strings.equals( order.orderStatus, 'ORDERCANCEL' )}">주문취소</option>
                                <option value="ORDERCHANGE" th:selected="${#strings.equals( order.orderStatus, 'ORDERCHANGE' )}">교환</option>
                                <option value="ORDERREFUND" th:selected="${#strings.equals( order.orderStatus, 'ORDERREFUND' )}">반품</option>
                            </select>
                        </td>
                        <td>
                            <input type="button" value="변경" class="changestatusbtn">
                        </td>
                        <input type="hidden" th:value="${order.orderItemId}" value="1">
                    </tr>
                    </tbody>
                </table>
                <div class="paginate">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${1 == orderList.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/admin/orderList(page=${orderList.pageable.pageNumber - 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>

                        <li class="page-item" th:classappend="${i == orderList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                            <a class="page-link" href="#" th:href="@{/admin/orderList(page=${i - 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}" th:text="${i}">1</a></li>

                        <li class="page-item" th:classappend="${orderList.totalPages == orderList.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/admin/orderList(page=${orderList.pageable.pageNumber + 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>
